* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

html {
    scroll-behavior: smooth;
}

.container-menu {
    background: black;
    width: 100%;
    text-align: center;
    margin: auto;
    height: 8rem;
}

.logo-cervejaria {
    color: white;
    font-size: 2.5rem;
    font-family: 'Lobster', cursive;
    margin-bottom: 2.5rem;
}

.texto-navbar {
    list-style: none;
    display: inline;
    font-family: 'Montserrat', sans-serif;
    margin: 0 1rem;
    
}

.texto-navbar > a {
    color: white;
    text-decoration: none;
}

.texto-navbar > button {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    background: none;
    cursor: pointer;
    outline: none;
}

.hero {
    text-align: center;
    width: 100%;
    margin: auto;
}

.imagem-hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-image: url("../assets/hero");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    width: 100%;
    height: 31.25rem;
}

.button-hero {
    color: white;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 0.5rem;
    max-width: 80%;
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    text-decoration: none;
}

.button-hero:hover {
    cursor: pointer;
    transform: scale(1.01);
    transition: 0.5s;
}

.texto-nossas-recomendacoes {
    margin-top: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    text-align: center;
}

.container-cervejas {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.card {
    margin-top: 2rem;
    width: 50%;
    text-align: center;
    background: rgba(109, 109, 109, 0.1);
    border-radius: 20px;
    padding: 1rem;
}

.card:hover {
    transform: scale(1.01);
    transition: 0.5s;
    background: rgba(109, 109, 109, 0.3);

}

.imagem-cerveja {
    display: block;
    height: 15rem;
    margin: auto;
}

.nome-cerveja {
    margin-top: 1rem;
    font-family: 'Lobster', cursive;
    font-size: 2rem;
}

.descricao-cerveja {
    font-family: 'Montserrat', sans-serif;
}

.container-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 80%;
    margin: auto;
    column-gap: 4rem;
}

.button-recarregar {
    font-family: 'Montserrat', sans-serif;
    margin-top: 2rem;
    text-align: center;
    margin-bottom: 5rem;
}

.button-recarregar > a >button {
    background: rgba(0, 0, 0, 1);
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    width: 13rem;
}

.button-recarregar > a > button:hover {
    background: rgba(0, 0, 0, 0.8);
}

.button-recarregar > a > button {
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

.button-conheca-mais {
    font-family: 'Montserrat', sans-serif;
    margin-top: 2rem;
    text-align: center;
    margin-bottom: 5rem;
}

.button-conheca-mais > button {
    color: white;
    background: rgba(68, 146, 0, 1);
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    outline: none;
    width: 13rem;
}

.button-conheca-mais > button:hover {
    background: rgba(68, 146, 0, 0.8);
}

.rodape {
    display: flex;
    width: 100%;
    height: 8rem;
    background: black;
    align-items: center;
    
}

.container-rodape {
    display: inline;
    width: 100%;
}

.texto-rodape-logo {
    color: white;
    font-size: 2.5rem;
    font-family: 'Lobster', cursive;
    margin-left: 3rem;
}

.texto-rodape-nav {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    margin-left: 3rem;
}

.texto-rodape-nav > a {
    text-decoration: none;
    color: white;
}

.texto-rodape-nav > button {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    background: none;
    cursor: pointer;
    outline: none;
}

.texto-rodape-contato {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    margin-left: 3rem;
}